﻿.loginBox {
  max-width:  90%;
  width: 500px
}

.stretch input  {
  width: 100%
}
.fa {
    font:normal normal normal 20px/1 FontAwesome;
    color: rgb(255, 255, 255);
}
.md-sidenav-left, md-sidenav {
	position:relative;
    /*top: 48px;*/
}
.menu-left{
	position: absolute;
	width: 320px;
	height: 92%;
	box-shadow:  0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.body{
	overflow: hidden;
}