<md-toolbar class="md-hue-2" layout="row">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings" ng-disabled="false">
      <i class="fa fa-bars fa-6" aria-hidden="true"></i>
    </md-button>
    <h2>
      <span>Toolbar with Disabled/Enabled Icon Buttons</span>
    </h2>
    <span flex=""></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="app-content/images/icons/more_vert.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>