<!DOCTYPE html>
<html ng-app="leads">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--Let browser know website is optimized for mobile-->
 <!--Import Google Icon Font-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!--Let browser know website is optimized for mobile-->
  <title></title>
</head>
<body>
  <div ng-view layout-fill="layout-fill"></div>
  <!-- <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
          <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>
      </div>
  </div> -->

  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <!-- <script src="https://code.angularjs.org/1.5.8/angular-cookies.min.js"></script> -->
  <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>

  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBsU7I-zkaW0oYUj5CIOo9DmrE9bCJETMY",
      authDomain: "leads-f3dc7.firebaseapp.com",
      databaseURL: "https://leads-f3dc7.firebaseio.com",
      storageBucket: "leads-f3dc7.appspot.com",
    };
    firebase.initializeApp(config);
  </script>
  <!-- <script src="app-content/js/custom.js"></script> -->
  <script src="app-services/Auth.factory.js"></script>
  <script src="app.js"></script>
  <script src="home/home.module.js"></script>
  <script src="home/home.controller.js"></script>
  <script src="home/home.directives.js"></script>
  <script src="login/login.module.js"></script>
  <script src="login/login.controller.js"></script>
  <script src="register/register.module.js"></script>
  <script src="register/register.controller.js"></script>
</body>
</html>