﻿<div class="container">
  <div class="section">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2 center">Login</h4>
      <div class="row">
        <form class="col s12" name="form" ng-submit="form.$valid && login()" novalidate="" role="form">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">email</i>
              <input itype="text" name="email" id="email" type="email" class="validate" ng-model="email" required>
              <label for="email">Email</label>
              <div ng-messages="form.email.$error">
                <div ng-message="required">El email es requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">lock_outline</i>
              <input type="password" name="password" id="password" class="validate" ng-model="password" required>
              <label for="password">Password</label>
              <div ng-messages="form.password.$error">
                <div ng-message="required">La contraseña es requerida.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="input-field col s3">
                <button class="btn cyan waves-effect waves-light left" type="submit" name="action">Login
                  <i class="fa fa-sign-in right"></i>
                </button>
              </div>
              <div class="input-field col s6">
                <a ng-href="#/register" class="btn cyan waves-effect waves-light" type="button" name="action">
                  Registro
                  <i class="material-icons dp48">perm_identity</i>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>

