﻿<div class="container">
  <div class="section">
  <div class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2 center">Registro</h4>
      <div class="row">
        <form class="col s12" name="form" ng-submit="form.$valid && register()" novalidate="" role="form">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">email</i>
              <input type="text" name="firstName" id="firstName" ng-model="firstName" required>
              <label for="username">Nombre</label>
              <div ng-messages="form.firstName.$error" class="ng-inactive">
                <div ng-message="required">El nombre es requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">lock_outline</i>
              <input type="text" name="lastName" id="lastName" ng-model="lastName" required />
              <label for="lastName">Apellido</label>
              <div ng-messages="form.lastName.$error">
                  <div ng-message="required">El apellido es requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">lock_outline</i>
              <input type="text" name="bussines" id="bussines" ng-model="bussines" required />
              <label for="bussines">Empresa</label>
              <div ng-messages="form.bussines.$error">
                  <div ng-message="required">La empresa es requerida.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">lock_outline</i>
              <input type="text" name="email" id="email" ng-model="email" required />
              <label for="email">Correo</label>
              <div ng-messages="form.email.$error">
                  <div ng-message="required">El correo es requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons dp48 prefix">lock_outline</i>
              <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
              <label for="password">Password</label>
              <div ng-messages="form.password.$error">
                  <div ng-message="required">La contraseña es requerida.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="row">
              <div class="input-field col s3">
                <button class="btn cyan waves-effect waves-light left" type="submit" name="action">Registrar
                  <i class="fa fa-sign-in right"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</div>
